--
-- PostgreSQL database dump
--

\restrict M9nVps3tns4nELcTmuso1lnicLGPkpLFkvJnBtfukgwVBgEUIcJRl6ZxPjFjkcj

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: test_erp; Type: TABLE; Schema: public; Owner: erp_admin
--

CREATE TABLE public.test_erp (
    id integer NOT NULL,
    name character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.test_erp OWNER TO erp_admin;

--
-- Name: test_erp_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_admin
--

CREATE SEQUENCE public.test_erp_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.test_erp_id_seq OWNER TO erp_admin;

--
-- Name: test_erp_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_admin
--

ALTER SEQUENCE public.test_erp_id_seq OWNED BY public.test_erp.id;


--
-- Name: test_erp id; Type: DEFAULT; Schema: public; Owner: erp_admin
--

ALTER TABLE ONLY public.test_erp ALTER COLUMN id SET DEFAULT nextval('public.test_erp_id_seq'::regclass);


--
-- Data for Name: test_erp; Type: TABLE DATA; Schema: public; Owner: erp_admin
--

COPY public.test_erp (id, name, created_at) FROM stdin;
1	Test ERP 1	2025-09-09 22:47:52.386162
2	Test ERP 2	2025-09-09 22:47:52.386162
3	Test ERP 3	2025-09-09 22:47:52.386162
\.


--
-- Name: test_erp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_admin
--

SELECT pg_catalog.setval('public.test_erp_id_seq', 3, true);


--
-- Name: test_erp test_erp_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_admin
--

ALTER TABLE ONLY public.test_erp
    ADD CONSTRAINT test_erp_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict M9nVps3tns4nELcTmuso1lnicLGPkpLFkvJnBtfukgwVBgEUIcJRl6ZxPjFjkcj

